
.slider-img {
	width: 100%;
  transition: all 0.3s ease-in-out;
}

.slider {
  height: 560px;
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.slide {
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 12.5%;
  z-index: 1;
  left: 0;
}

.slider-dots {
  display: flex;
  position: absolute;
  bottom: -32px;
  align-items: center;
}

.slider-dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0px 4px;
  background: #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}
.slider-dot:nth-of-type(2n+1) {
  left: 40px;
}

.slider-dot.active {
  width: 20px;
  background: #60BCEA;
}

.right-arrow {
  transform: rotate(180deg);
}